:root {
    --color-rosa: #cf109c;
    --color-azul: #45aaaa;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}
header img {
    height: 60px;
    margin-left: 40px;
}
header nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
header nav a {
    padding: 0 80px;
    text-decoration: none;
    color: #848484;
    font-weight: 600;
}
header div {
    display: flex;
    margin-right: 20px;
    margin-left: auto;
}
header div img {
    width: 80%;
    height: 80%;
    margin: auto;
    box-sizing: border-box;
}

main {
    width:100%;
    padding: 40px;
}
.titulo-pagina {
    width: 100%;
    margin: 25px auto;
    text-align: center;
    font-size: 36px;
    color: var(--color-azul);
}

.cabecera {
    display: flex;
    flex-direction: column;
}
.fecha {
    margin: 20px 20px 6px auto;
    margin-right: 20px;
    margin-left: auto;
    font-weight: 600;
    color: var(--color-rosa);
}
.escritos, .inicio-page {
    padding: 30px 120px;
}

.escritos p, .inicio-page p {
    text-indent: 2em;
    line-height: 1.8;
    margin-top: 13px;
    font-size: 18px;
    color: #666666;
    font-weight: 500;
}

.estrella {
    width: 60px;
    height: 60px;
    background-color: rgb(0, 204, 255);
    border: 1px solid rgba(0, 204, 255, 0.856);
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
    margin: 13px 0;
}

.tachado {
    text-decoration-color: rgb(180, 184, 127);
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}
.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}

canvas {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: black;
}