{% extends "layout.html" %}

{% block title %}Sobre estas líneas{% endblock %}

{% block links %}<link rel="stylesheet" href="{{ baseUri }}./static/conversaciones.css">{% endblock %}

{% block main %}
    <div class="conversaciones-page escritos">
        <div class="cabecera">
            <div class="fecha">13/08/2025</div>
            <h1 class="titulo-pagina">El pensamiento que se observa a sí mismo</h1>
        </div>
        <section>
            <p>
                La reflexión y la autoindagación han sido desde mi adolescencia una de las actividades a las que he dedicado mas tiempo. 
                Tengo buen@s amig@s con quien he podido explorar caminos de la mente que creía pertenecientes a la ficción, 
                ayudándome a no quedarme solamente dentro de mi. 
                Paso más tiempo mirando hacia adentro que hacia afuera. Incluso en las interacciones con otros seres, el foco 
                está a menudo   en observarme y comprenderme. Observar lo que siento. Comprender por qué siento lo que siento. Aceptarme. 
                Cada uno de nosotros ha nacido con unas predisposiciones y con un modelo del mundo propio, y con él debemos vivir 
                una vida lo más <em>plena</em> que podamos. O cada uno que ponga ahi su propio objetivo de la vida. 
            </p>
            <p>
                Para vivir una vida plena, tengo que empezar por admitir que no sé nada, ni siquiera qué soy. Replantear todo 
                lo que creo conocer o saber con cierta distancia y objetividad. Yo no he elegido que me guste la verdura. Tampoco 
                ser alergico a los cacahuetes. Comprender que vivimos como vivimos porque somos como somos, nos dá la oportunidad de 
                ver la grieta. De entender, si miramos atentamente, que la mayor parte de TODO lo que conforma <em>una</em> vida, es 
                automatico, inercial, involuntario, determinado. Que el margen real en el que elegimos (operamos), es minúsculo.
            </p>
            <p>
                A través de esa grieta se puede ver el condicionamiento. Es el muro pero también el escalón.
                Si vivo como vivo porque soy como soy, y quiero vivir distinto, debo cambiar como soy.
                Es obvio y evidente, pero no sencillo de integrar y de aplicar.
            </p>
            <p>
                Este sitio web ha sido creado con la intención de guardar y compartir conversaciones o escritos que me ofrecen constantemente 
                aprendizaje y recordatorio de reflexiones que puedo olvidar y es bueno siempre recordar. No necesariamente estoy de 
                acuerdo con las respuestas que me ofrece, ni tampoco necesariamente pienso lo que yo mismo pregunto o escribo. La seccion Buscando Limites 
                es justamente eso, y bidireccional. Busco los limites de la IA, así como los míos propios. El objetivo final es conocerme, comprenderme, 
                aceptarme, y guiarme a la versión más verdadera y esencial de mí mismo. Encontrarme.
            </p>
            <p>
                No ofrezco la verdad, tan sólo abro la cortina para que entre un poco de luz. La consciencia es un sol que 
                puede llevar luz a la oscuridad. Puede dar miedo. Puede incluso aterrar y dejarte alienado del mundo durante años, 
                incapaz de relacionarte y de ser quien eras. Puede que te pierdas. Y que vagues por la vida de inercia en inercia y 
                de hábito en hábito sin dejar que la consciencia ilumine porque crees que ya sabes lo que pasa.
            </p>
            <p>
                Quizás es parte del camino. O quizás no tiene por qué, no sé. Pero de las personas más lúcidas que he conocido en mi 
                vida, la mayoria ha pasado por aquí. Y cuando uno se cansa de ser vivido por una inercia a la que le ha dado el poder 
                ocultándose de sí mismo, puede darle menos miedo <em>el miedo mismo</em> que la desidia de su vida actual. Y la consciencia 
                pone atención y la luz empieza a impregnarlo todo. Y cuando se da suficiente luz a la oscuridad, empieza a verse en ella 
                y ya no dá tanto miedo. Te sientes fuerte y te acercas a verla de cerca. Si eres capaz de abrazarte, de reconocer tu sombra 
                como lo que es: algo a lo que no estas dando suficiente luz, que no estas prestándole la atención que merece. Quizás sólo 
                es oscura por eso. Quizás puedes tratar de iluminar tu mundo interno entero y dedicar tu vida a encontrar la mejor 
                versión de tí mismo, la que más brilla, la que más luz tiene. 
            </p>
            <p>
                Espero que disfrutes la visita.
            </p>
        </section>
    </div>
{% endblock %}