{% extends "layout.html" %}


{% block title %} - Escritos{% endblock %}
{% block links %}<link rel="stylesheet" href="{{ baseUri }}./static/escritos.css">{% endblock %}

{% block main %}
    <div class="escritos-page">
        <section>
            <h1 class="titulo-pagina">Títulos del ayer</h1>
            <ul>
                <!-- 18/10/2024 -->
                <li><a href="{{ baseUri }}./constante-cambio">Constante cambio(En proceso)</a></li>
                <!-- 18/04/2018 -->
                <li><a href="{{ baseUri }}./excesivamente-humano">Excesivamente humano(No subido)</a></li>
                <!-- 18/10/2024 -->
                <li><a href="{{ baseUri }}./conciencia-en-su-medida-editado">Conciencia en su medida(editado)</a></li>
                <!-- 20/03/2018 -->
                <li><a href="{{ baseUri }}./conciencia-en-su-medida">Conciencia en su medida(original)</a></li>
                <!-- 14/03/2018 -->
                <li><a href="{{ baseUri }}./sobre-el-tiempo">Sobre el tiempo</a></li>
                <!-- 08/02/2018 -->
                <li><a href="{{ baseUri }}./el-arbol-de-la-vida">El árbol de la vida</a></li>
            </ul>
        </section>
    </div>
{% endblock %}