<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ baseUri }}./static/styles2.css">
    <!-- <link rel="stylesheet" href="{{ baseUri }}./static/styles.css">
    <link rel="stylesheet" href="{{ baseUri }}./static/escritos.css">
    <link rel="stylesheet" href="{{ baseUri }}./static/responsive.css"> -->
    
    {% block links %}{% endblock %}
</head>
<body>
    <header>
        <a href="{{ baseUri }}./"><img src="{{ baseUri }}./static/images/yy.jpg" alt="Logo"></a>
        <nav>
            <a href="{{ baseUri }}./">Inicio</a>
            <a href="{{ baseUri }}./escritos/">Escritos</a>
            <a href="{{ baseUri }}./buscandoLimites/">Buscando limites</a>
            <a href="{{ baseUri }}./viste-la-vida">Viste la Vida</a>
        </nav>
        <!-- <audio controls autoplay loop>
            <source src="{{ baseUri }}./static/audio/01.DmAmEmEm.wav" type="audio/mpeg">
        </audio> -->
        <div>
            <a href="{{ baseUri }}./about/"><img src="{{ baseUri }}./static/images/circulo.svg" alt=""></a>
        </div>
    </header>

    <main>{% block main %}{% endblock %}</main>

    <footer>
        
    </footer>
</body>
</html>