{% extends "layout.html" %}


{% block title %} - La velocidad del tiempo{% endblock %}
{% block links %}<link rel="stylesheet" href="{{ baseUri }}./static/final.css">{% endblock %}

{% block main %}
<div class="sobre-el-tiempo-page escritos">
    <section>
        <div class="cabecera">
            <div class="fecha">14/03/20218</div>
            <h1 class="titulo-pagina">Sobre el tiempo</h1>
        </div>
        <p>Sobre el tiempo. El tiempo horario es una invención humana aproximadamente exacta que rige el mundo humano y el de “sus mascotas”.<br>Pero el tiempo no puede medirse por segundos, horas o años. Debe medirse en latidos que tu corazón ha dado en tu pecho.</p>
        <p>Cuando relajas tu cuerpo y tu mente, y te dejas sentir, puedes llegar a percibir el latido de tu corazón. Son latidos suaves, a ritmo calmado, y tu respiración profunda y larga. El tiempo es infinito en éste estado.<br>Cuando te agitas, física o mentalmente, sobretodo en tensión, es muy fácil sentir cómo el corazón golpea tu pecho con fuerza y acelerado. Aquí el tiempo vuela y no lo ves pasar.<br>Es decir, cuando estás relajad@, el tiempo percibido &#8209;y vivido realmente&#8209; se dilata considerablemente; mientras estás agitad@ se contrae.</p>
        <div class="estrella"></div>
        <p>Dicen los físicos y sus ciencias, que un objeto, cuanto más masivo (pesado) es, más gravedad ejerce sobre su entorno. Y cuanta más gravedad, más lento pasa el tiempo en ese lugar. Por eso “se sostiene” que en un agujero negro, que tiene gravedad “infinita”, no pasa el tiempo. Se detiene, dicen.</p>
        <div class="estrella"></div>
        <div class="fecha">15/03/2018</div>
        <p>Es como pretender contar las células que componen mi cuerpo, y decir que mi cuerpo es 2.130.987.562.214 células, eludiendo que hay miles distintas y cada una tiene una especialidad. Unas son vitales y otras funcionales.</p>
        <p>Hay horas, que no por su duración en segundos, son tremendamente más duras que unas semanas.<br>Un accidente de avión del que sobrevivas, durará unos minutos a lo sumo, pero absorberás infinita información, física y mental (sensorial), que ocupara un gran espacio en tu mente.<br>Y unas vacaciones en la playa con amigos también lo recordarás, pero volarán al lado del accidente.</p>
        <div class="estrella"></div>
        <p>Cuando te agitas, se activa el sistema simpático de tu cerebro, y empiezan a producirse cambios fisiológicos que propician una huida rápida o un enfrentamiento. Entre los mecanismos que tiene, está la aceleración del pulso, llevando mucha sangre a las extremidades y reduciendo o parando el proceso de la digestión, vaciando de sangre los intestinos y el aparato digestivo. El estado de alerta aumenta, y todas las capacidades aumentan, o se bloquean (en base a memorias pasadas). Todos éstos mecanismos y otros se dan a través de la secreción de hormonas. Lo que normalmente fluye a un ritmo, aquí se multiplica. Se consumen muchos recursos, mucha energía, para sostener éste estado. Te consumes.</p>
        <div class="donut"></div>
        <div class="fecha"></div>
        <p>Pretender separar el tiempo del espacio es una idea puramente humana. Son parte de la misma esencia. En el vacío, el tiempo es insignificante, porque ni la nada cambiará. Al proceso natural que le ocurre a la materia le llamamos tiempo. El tiempo depende del espacio (materia) para existir.</p>
        <p>Yo tengo un cuerpo, y en él hay un tiempo, una especie de contador, que marca el ritmo de mi vida. Mi corazón marca en buen grado el ritmo de mi vida, condicionado por mi fisiología, metabolismo, sentidos, y la gran mente, entre otros. Si le diera al cuerpo todo lo que me pide y nada más, el gasto de energía, nutrientes, hormonas -el gasto general del cuerpo-, sería mínimo. Viviría algunos millones de latidos más que si como azúcar refinado, fumo tabaco, bebo alcohol, me hincho a pastillas, o no cuido mi cuerpo en general.</p>
        <p>Una hormiga tiene un cuerpo, y en él hay un tiempo, su contador, que por sus condiciones (obrera, reina, soldado, manca…) estará influida su duración. Subjetivamente, desde dentro de esa hormiga, todo va a un ritmo normal. Su percepción de la realidad, su metabolismo, su movimiento, va acorde a su duración. Aunque para un ser humano parezca frenética.</p>
    </section>
</div>
{% endblock %}