{% extends "layout.html" %}


{% block title %} - La velocidad del tiempo{% endblock %}
{% block links %}<link rel="stylesheet" href="{{ baseUri }}./static/final.css">{% endblock %}

{% block main %}
<div class="sobre-el-tiempo-page escritos">
    <section>
        <div class="cabecera">
            <div class="fecha">14/03/20218</div>
            <h1 class="titulo-pagina">Sobre el tiempo</h1>
        </div>
        <p>Sobre el tiempo. El tiempo horario es una invención humana aproximadamente exacta que rige el mundo humano y el de “sus mascotas”.<br>Pero el tiempo no puede medirse por segundos, horas o años. Debe medirse en latidos que tu corazón ha dado en tu pecho.</p>
        <p>Cuando relajas tu cuerpo y tu mente, y te dejas sentir, puedes llegar a percibir el latido de tu corazón. Son latidos suaves, a ritmo calmado, y tu respiración profunda y larga. El tiempo es infinito en éste estado.<br>Cuando te agitas, física o mentalmente, sobretodo en tensión, es muy fácil sentir cómo el corazón golpea tu pecho con fuerza y acelerado. Aquí el tiempo vuela y no lo ves pasar.<br>Es decir, cuando estás relajad@, el tiempo percibido &#8209;y vivido realmente&#8209; se dilata considerablemente; mientras estás agitad@ se contrae.</p>
    </section>
</div>
{% endblock %}